<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BucketAndSpade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BucketAndSpade.Properties.Settings>
            <setting name="SandcastlePath" serializeAs="String">
                <value>C:\Program Files (x86)\Sandcastle</value>
            </setting>
            <setting name="HtmlHelpWorkshopPath" serializeAs="String">
                <value>C:\Program Files (x86)\HTML Help Workshop</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
        </BucketAndSpade.Properties.Settings>
    </userSettings>
</configuration>